<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6_GguQUiDQYN8ll2ehYCbTcjzTGUgHwo</string>
	<key>GCM_SENDER_ID</key>
	<string>57388279465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.NewsApp</string>
	<key>PROJECT_ID</key>
	<string>newsline-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>newsline-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57388279465:ios:cdd71f10a04e3812022bb8</string>
	<key>DATABASE_URL</key>
	<string>https://newsline-ios-default-rtdb.firebaseio.com</string>
</dict>
</plist>